In [9]:
import pandas as pd
import csv
df = pd.read_csv("/Users/yannkeita/Desktop/CapstoneProject/Activite_chirurgicale_en_cancerologie_par_localisation_tumorale copy.csv", sep=';', encoding='latin-1', quoting=csv.QUOTE_ALL)
df.head()

,Ann,Loc,Dur_sej_moy,Dur_sej_max,Dur_sej_med,Dur_sej_min,Pat_chir_nbr,Pat_chir_pct,Hom_chir_nbr,Fem_chir_nbr
0,2011,Anus-Canal anal,"10,7",239.0,"4,0",0.0,958.0,.,375,583
1,2011,APPAREIL DIGESTIF,"16,0",323.0,"12,0",0.0,60422.0,"16,0",33744,26678
2,2011,Appareil digestif sans prï¿½cision,"10,6",236.0,"8,0",0.0,1798.0,.,975,823
3,2011,APPAREIL MANQUANT,"6,3",13.0,"7,0",2.0,4.0,"0,0",4,.
4,2011,APPAREIL NON ATTRIBUABLE,"9,8",256.0,"6,0",0.0,4010.0,"1,1",2167,1843

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 510 entries, 0 to 509
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Ann           510 non-null    int64
 1   Loc           510 non-null    object
 2   Dur_sej_moy   504 non-null    object
 3   Dur_sej_max   504 non-null    float64
 4   Dur_sej_med   504 non-null    object
 5   Dur_sej_min   504 non-null    float64
 6   Pat_chir_nbr  504 non-null    float64
 7   Pat_chir_pct  504 non-null    object
 8   Hom_chir_nbr  504 non-null    object
 9   Fem_chir_nbr  504 non-null    object
dtypes: float64(3), int64(1), object(6)
memory usage: 40.0+ KB

In [11]:
df['Dur_sej_moy'] = pd.to_numeric(df['Dur_sej_moy'], errors='coerce')
df['Dur_sej_med'] = pd.to_numeric(df['Dur_sej_med'], errors='coerce')
df['Pat_chir_pct'] = pd.to_numeric(df['Pat_chir_pct'], errors='coerce')
df['Hom_chir_nbr'] = pd.to_numeric(df['Hom_chir_nbr'], errors='coerce')
df['Fem_chir_nbr'] = pd.to_numeric(df['Fem_chir_nbr'], errors='coerce')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 510 entries, 0 to 509
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Ann           510 non-null    int64
 1   Loc           510 non-null    object
 2   Dur_sej_moy   0 non-null      float64
 3   Dur_sej_max   504 non-null    float64
 4   Dur_sej_med   0 non-null      float64
 5   Dur_sej_min   504 non-null    float64
 6   Pat_chir_nbr  504 non-null    float64
 7   Pat_chir_pct  0 non-null      float64
 8   Hom_chir_nbr  474 non-null    float64
 9   Fem_chir_nbr  479 non-null    float64
dtypes: float64(8), int64(1), object(1)
memory usage: 40.0+ KB

In [12]:
df.isnull().sum()

Ann               0
Loc               0
Dur_sej_moy     510
Dur_sej_max       6
Dur_sej_med     510
Dur_sej_min       6
Pat_chir_nbr      6
Pat_chir_pct    510
Hom_chir_nbr     36
Fem_chir_nbr     31
dtype: int64

In [13]:
df.shape

(510, 10)